<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demandas del Artículo {{ articulo.nombreArticulo }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card shadow">
            <div class="card-body">
                <h1 class="card-title mb-4 text-center text-warning">Demandas del Artículo {{ articulo.nombreArticulo }}</h1>
                <a href="{% url 'lista_articulos' %}" class="btn btn-warning mb-3"><i class="bi bi-arrow-left-square-fill"></i> Volver a la lista de artículos</a>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" style="background-color: rgba(221, 182, 9, 0.795);">Código Demanda</th>
                                <th scope="col" style="background-color: rgba(221, 182, 9, 0.795);">Demanda Real</th>
                                <th scope="col" style="background-color: rgba(221, 182, 9, 0.795);">Demanda Predecida</th>
                                <th scope="col" style="background-color: rgba(221, 182, 9, 0.795);">Error de Predicción</th>
                                <th scope="col" style="background-color: rgba(221, 182, 9, 0.795);">Mes</th>
                                <th scope="col" style="background-color: rgba(221, 182, 9, 0.795);">Año</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for demanda in demandas %}
                            <tr>
                                <td>{{ demanda.codDemanda }}</td>
                                <td>{{ demanda.demandaReal }}</td>
                                <td>{{ demanda.demandaPredecida }}</td>
                                <td>{{ demanda.error_prediccion }}</td>
                                <td>{{ demanda.mesDemanda }}</td>
                                <td>{{ demanda.anioDemanda }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts de Bootstrap (opcional, si no los tienes cargados de otra forma) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-iZc5avFbtpjQTZs1xWMP2IeO6/UHEf7rj3ZwD7SceEY9zWw81cvq5Z65b8oRYG6S" crossorigin="anonymous"></script>
</body>
</html>






<!--
<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demandas del Artículo {{ articulo.nombreArticulo }}</title>
</head>
<body>
    <h1>Demandas del Artículo {{ articulo.nombreArticulo }}</h1>
    <a href="{% url 'lista_articulos' %}">Volver a la lista de artículos</a>
    <table>
        <thead>
            <tr>
                <th>Código Demanda</th>
                <th>Demanda Real</th>
                <th>Demanda Predecida</th>
                <th>Mes</th>
                <th>Año</th>
            </tr>
        </thead>
        <tbody>
            {% for demanda in demandas %}
            <tr>
                <td>{{ demanda.codDemanda }}</td>
                <td>{{ demanda.demandaReal }}</td>
                <td>{{ demanda.demandaPredecida }}</td>
                <td>{{ demanda.mesDemanda }}</td>
                <td>{{ demanda.anioDemanda }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>>



-->